
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <style>
        .map-container {
            width: 30%;
            height: 30%;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Map</h1>
    <form action="/map" method="post">
        <input type="text" name="lat" placeholder="latitude">
        <input type="text" name="lon" placeholder="longitude">
        <input type="submit" value="submit">
    </form>
</body>
</html>